#root {
  max-width: 1280px;

  text-align: center;
}

.logo {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background: #8486e2;
  align-items: center;
  display: flex;
  justify-content: center;
}
.logo::before {
  content: "";
  padding: 1em;
  height: 2.5em;
  width: 2.5em;
  background-color: #8b8ce2;
  border-radius: 50%;
  z-index: 1;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
